{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}{% endblock %}
{% block title %}Comment | Schitt's Creek Cafe Tropical{% endblock %}
{% block content %}
<style>
.addspace {
    padding-bottom:10px;
}

</style>
<div class='container'>
    <br>
    <div class="row">
        <div class="col-sm-11"><h3>Comments</h3></div>
        <div class="col-sm-1"><h3><a class="nav-link" style="color:black" href="{% url 'cafe:comment' %}"><i class="fa fa-comment" aria-hidden="true"></i>
            </a></h3></div>
    </div>


    <br>
    <br>
    <br>
    {% for comment in comments %}
        <div class="container">
           <div class="row">
                <div class="col-sm-10">
                    <span style="font-weight:bold">{{ comment.customer.user.username }}</span> - <span style="font-style:italic">Published on: {{ comment.comment.created_at }}</span>
                </div>
                <div class="col-sm-1">
                {% if comment.comment.rate == 0 %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                {% elif comment.comment.rate == 1 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                {% elif comment.comment.rate == 2 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                {% elif comment.comment.rate == 3 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                {% endif %}
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="container">
            <div class="row" style="background-color: #9cb58d; padding:10px">
                <div class="col-sm-12">
                    <h4>{{ comment.comment.title }}</h4>
                    {{ comment.comment.comment }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span>Date of the visit: {{ comment.order.created_at }}</span>
                </div>
            </div>
        </div>
        <br><br>
    {% endfor %}




    <!-- Modal -->
    <div class="modal fade" id="comment_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Schitt's Creek Cafe Tropical</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Do you valid comment?
            </div>
            <div class="modal-footer">
            <button id="comment_button_no" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button id="comment_button_yes" data-redirect-url="" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extrabody %}
<script type="text/javascript">
	var popup_comment;

	$('.link-formset').formset({
        addText: 'Add',
		deleteText: 'Delete',
		prefix: '{{ menu.prefix }}',
        //hideLastAddForm: 'true'
    });


	$(document).ready(function() {


		var prevent = false;

		$("#commenteditform").submit(function(event) {
			if(!prevent){
				event.preventDefault();
			}
			
        	popup_comment = $(this);
        	$('#comment_edit').modal('show');

    	});

		$("body")
    	.on('click','#comment_button_yes',function(event){
        	prevent = true;
        	popup_comment.submit();
    	})

    });

</script>
{% endblock %}