.authentication-container {
  width: 900px;
  align-items: center;
  justify-content:space-between;
}

.candy-mesh {
	background-color: #ff99ee;
	background-image: radial-gradient(
			at 99% 6%,
			hsla(195, 69%, 67%, 1) 0px,
			transparent 50%
		),
		radial-gradient(at 55% 88%, hsla(189, 74%, 69%, 1) 0px, transparent 50%),
		radial-gradient(at 53% 27%, hsla(271, 78%, 63%, 1) 0px, transparent 50%),
		radial-gradient(at 89% 89%, hsla(317, 89%, 70%, 1) 0px, transparent 50%),
		radial-gradient(at 35% 44%, hsla(337, 92%, 61%, 1) 0px, transparent 50%);
}

@media screen and (min-width: 8em) {
  .authentication-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;
    width: 100vw;
    height: 1000px;
    margin: 0 auto;
    align-items: center;
    margin-top: 0;
    margin-bottom: 70px;
    // border: 1px solid red;
  }

  .auth-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

}


@media screen and (min-width: 40em) {
  .authentication-container {
    display: flex;
    align-items: center;
    height: 80vh;
    padding-top: 98px;
  }

  .auth-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    // gap: 90px;
  }
}
