.map-container {
  border-radius: 25px;
  min-height: 310px;
  width: 250px;
  height: 250px;
  max-width: 600px;
  max-height: 600px;
  border: 2px solid red;
  // height: 50vh;
  // max-height: 610px;
  // width: 80vw;
  // max-width: 900px;
}

@media screen and (min-width: 8em) {
  .map-wrapper{
    height: 100%;
    width: 100%;
  }
  .map-container {
    width: 100%;
    // max-width: 650px;
    height: 100%;
    // max-height: 610px;
  }
}
@media screen and (min-width: 30em) {
  .map-wrapper{
    height: 100%;
    width: 100%;
  }
  .map-container {
    border-radius: 25px;
    min-height: 310px;
    width: 250px;
    height: 250px;
    max-width: 600px;
    max-height: 600px;
  }
}

@media screen and (min-width: 56em) {
  .map-container {
    width: 640px;
    max-width: 650px;
    height: 600px;
    max-height: 610px;
  }

}
