.chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height: 100%;
    position: relative;
}

.antler-exchange{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   
}
.inbox{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   
}
@media (max-width: 800px) {
    .chat{
        flex-direction: column;
    }
    .antler-exchange{
        flex-direction: row;

    }
    .inbox{
        flex-direction: row;
    }
}
.message-received{
    
    display: flex;
    flex: 1;
    overflow-wrap: break-word;
    background-color: var(--accent);
    color: var(--text);
    text-align: center;
    align-self: flex-end;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    

}
.message-sent{
    display: flex;
    flex: 1;
    overflow-wrap: break-word;
    background-color: var(--background);
    color: var(--text);
    text-align: center;
    align-self: flex-start;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.input {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 70px;
    text-align: center;
    bottom: 0;
    background: #011f3b;
}

.feed{
    flex-grow: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    overflow: scroll;
   
}


