# macOS
**/.DS_Store/*
.DS_Store
.swp
# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
# IntelliJ GoLand
._*
.idea/
*.iml
*.ipr
*.iws
*.out
# VSCode
.vscode

# vendor
**/node_modules/*

services/bonjour/bonjour
services/outremona/outremona