.app-navbar-container {
  z-index: 9999;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 75px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(242, 242, 242);
  box-shadow: 0 0 20px 0 rgb(44 101 144 / 10%);
  padding: 0 20px;
  background-color: white;

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 80%;
    max-width: 1100px;
    height: 80%;
    cursor: pointer;
    // border: 2px solid red;
    position: relative;

    .app-nav-title{
      margin-right: 10px;
    }

    .app-navbar {
      display: flex;
      padding: 0 10px;

    }

    .app-flex{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .image-wrapper {
      display: flex;
      height: 50px;
      width: 50px;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }

    .app-dash-dropdown{
      position: absolute;
      top: 80px;
      right: 30px;
      height: 150px;
      width: 200px;
      padding: 35px 20px;
      border: 2px solid  #de006f;
      background-color: rgb(255, 255, 255);
      cursor: initial;

      span {
        display: flex;
        margin-bottom: 10px;
      }


      .dropdown-bg-btn {
        background-color: #de006f;
        color: white;
      }

      .dropdown-bg-btn:hover {
        background-color: hsla(330, 100%, 44%, 0.152);
        color: #ea0075;
      }
    }


  }

}


@media screen and (min-width: 5em) {
  .app-navbar-container {
    .nav-items {
      .app-dash-dropdown{
        right: 20px;
      }
    }
  }
}

@media screen and (min-width: 10em) {

  .app-navbar-container {
    .nav-items {
      .app-dash-dropdown{
        right: -31px;
      }
    }
  }
}
@media screen and (min-width: 20em) {

  .app-navbar-container {
    .nav-items {
      .app-dash-dropdown{
        right: 1px;
      }
    }
  }
}
