.slider{

    padding: 1em;
    color:var(--text);
    background-color: rgba(0,0,0,0.7);
    transform: translate(-50%,-110%);
    border-radius: 0.5em;

    
}

.submit{
    color: var(--text);
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 15px;
    border: 1px solid var(--text);
    margin: 10px;
    cursor: pointer;
    opacity: 1;
    white-space: nowrap;
}

