[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
apispec = {extras = ["marshmallow", "yaml"], version = "*"}
apispec-webframeworks = "*"
pytest = "*"
coverage = "*"
click = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
werkzeug = "*"
marshmallow-enum = "*"
grpcio = "*"
rich = "*"
grpcio-tools = "*"

[dev-packages]

[requires]
python_version = "3.10"
