{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Homepage' %} | Schitt's Creek Cafe Tropical{% endblock %}
{% block content %}

<div class='container'>
    <br>
    <br>
    <div>
        <br><br><br>
    <div class="alert alert-info">
        <strong><i class="fa fa-info-circle" aria-hidden="true"></i><br></strong> Jerome Le Carrou - <a href="mailto:j.lecarrou@hotmail.fr ?subject=[Cafe Tropical] - Orohealth"
                title="">j.lecarrou@hotmail.fr</a><br>
    </div>
    </div>
</div>

{% endblock %}

{% block extrabody %}

<script></script>
{% endblock %}