// .buttons-container {
//   display: flex;
//   align-items: flex-start;
//   flex-direction: column;

//   h3 {
//     margin-top: 20px;
//   }

//   .buttons-social-container {
//     margin-top: 20px;
//     display: flex;
//     justify-content:space-between;
//     gap: 10px;
//   }
// }

.alerts {
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.alert-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.test-app-signIn{
  margin-top: 15px;
}

@media screen and (min-width: 40em) {
  .sign-up-container.sign-in-container-edit{
    margin-left: 30px;
  }
}
