.App{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px),(orientation:portrait) {
    .App {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }
.lorem{
    flex-grow: 123;
}



