* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* color: #444; */
  /* text-align: center; */
  margin: 0;
}

.nav-container {
  list-style-type: none;
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 5px;
  padding-top: 18px;
  padding-bottom: 10px;
  overflow: hidden;
  float: right;
  width: 100%;
  text-align: right;
  border-top: solid 2px black;;
  border-bottom: solid 2px black;
  background-color: white;
  height: 60px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  justify-content: space-evenly;
}

p.lorem {
  clear: left;
}

img {
  float: right;
  width: 250px;
  height: 250px;
}

.login-form {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
}

.form-div {
  text-align: center;
}

.register-form {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
}

.login-component {
  position: relative;
  margin-top: 25px;
  padding-top: 30px;
  text-align: center;
  }

.login-input {
  margin-left: 0;
}

.login-div {
  background-color: rgb(255, 255, 255, 0.7);
  padding: 20px;
  border: solid 2px black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  margin-left: auto;
  margin-right: auto;
}

.register-div {
  background-color: rgb(255, 255, 255, 0.7);
  padding: 20px;
  border: solid 2px black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  margin-left: auto;
  margin-right: auto;
}  

.register-component {
  position: relative;
  padding-top: 80px;
  margin-top: 90px;
  text-align: center;
}

section {
  padding: 30px 20px 40px 20px;
}

h1 {
  font-size: 32px;
  padding: 10px;
}

h2 {
  padding: 20px;
}

label {
  text-align: left;
  padding: 2px;
}

input {
  padding: 5px;
  margin: 5px 0 12px 10px; 
  border: solid rgb(32, 31, 31) 0.5px;
  border-radius: 3px;
  background-color: whitesmoke;
}

input::placeholder {
  font-size: 10px;
}

textarea {
  border: solid rgb(32, 31, 31) 0.5px;
  border-radius: 3px;
  height : 150px;
  width: 50%;
  padding: 5px;
  margin-left: 10px;
  background-color: whitesmoke;
}

.login-button {
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  background-color: transparent;
  text-decoration: none;
  border: solid 2px black;
  border-radius: 3px;
  color: green;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

button:hover {
  color:white;
  background-color: black;
}

.littering-level-calculator {
  padding-left: 0;
  padding-bottom: 0;
}

.tracking-results {
  padding: 20px;
}

.about {
  border-top: none;
}