
.navbar{
    display: flex;
    flex-grow: 1;   
    align-items: center;
    background-color: var(--background);
    color: var(--text);
    padding: 10px;
    overflow: hidden;
    height: 100%;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .navbar {
        width:100%;
        height: fit-content;
        flex-direction: row;
        justify-content: space-between;
    }
  }
.mainIcon{
    margin-top: 5px;
    width: 70px;
}

.menuButton{
    color: var(--text);
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 15px;
    border: 1px solid var(--text);
    margin: 10px;
    cursor: pointer;
    opacity: 1;
    white-space: nowrap;
  }