
.chat-main-wrapper{
  max-width: 1300px;
  margin: 0 auto;
}
.chatroom-msg-backBtn{
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px 5px;
  border: 2px solid rgb(228, 228, 228);
  box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.0175rem 0.175rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 80%;
  transition: all .2s ease-in-out;
  margin-bottom: 15px;
  margin-left: 13px;

  &:hover {
    box-shadow: rgba(3,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.08) 0px 0.0175rem 0.5rem;
    transform: translateY(-3px) scale(1.05);
    cursor: pointer;
  }
}
.chatroom-container{
  // border: 2px solid red;
  position: relative;
  width: 95vw;
  height: calc(100vh - 140px);  // changed
  max-width: 1500px;
  // min-height: 600px; // change
  margin: 0 auto;


  .msg-container{
      // border: 2px solid rgb(0, 0, 255);
      width: 100%;
      height: 75vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-between;
      margin-top: 10px;

      .chat-msg-wrapper{
        width: 100%;
        height: 100%;

        .chat-context-messages{
          border: 1px solid #ededed;
          padding: 13px 16px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: flex-start;
          overflow-y: scroll;
          width: 100%;
          height: 78%;


          .each-msg-text{
            background-color: #e7e7e7;
            color: #000000;
            max-width: 250px;
            border-radius: 20px;
            padding: 13px;
            align-items: flex-start;
            box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.0175rem 0.175rem;
            border: none;
          }
        }

        .chat-context-messages .you{
          background-color: #1877f2;
          padding: 13px 14px;
          color: #ffffff;
          max-width: 250px;
          align-self: flex-end;
          box-shadow: rgba(3, 8, 20, 0.291) 0px 0.15rem 0.5rem, rgba(3, 9, 21, 0.294) 0px 0.0175rem 0.175rem;
          border: none;
        }

        .chat-context-messages > :first-child {
          margin-top: auto !important;
        }


      }


      .chat-box{
        // border: 2px solid #18f240;
        width: 100%;
        height: 25%;
        margin-top: 10px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;


        .chat-message-Input{
          border: 1px solid #ededed;
          padding: 3px 4px;
          width: 95%;
          height: 90%;
          margin-bottom: 15px;
        }

        .chat-message-button{
          width: 60%;
          height: 40px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          background-color: teal;
          color: #ffffff;
          padding: 8px;
          // font-size: 12px;

        }
      }
    }
}





@media screen and ( min-width: 20em) {

  .chatroom-msg-backBtn{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 0px;
    border: 2px solid rgb(228, 228, 228);
    box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.0175rem 0.175rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 50%;
    transition: all .2s ease-in-out;;

    &:hover {
      box-shadow: rgba(3,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.08) 0px 0.0175rem 0.5rem;
      transform: translateY(-3px) scale(1.05);
      cursor: pointer;
    }
  }

  .chatroom-container{
    min-height: 600px;


    .msg-container{
        height: 75vh;

        .chat-msg-wrapper{

          .chat-context-messages{
            max-width: 677px; // changed these
            margin: 0 auto; // changed these


            .each-msg-text{
              background-color: #e7e7e7;
              color: #000000;
              max-width: 250px;
              border-radius: 20px;
              padding: 13px;
              align-items: flex-start;
              box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.0175rem 0.175rem;
              border: none;
            }
          }

          .chat-context-messages .you{
            padding: 13px 14px;
            background-color: #1877f2;
            color: #ffffff;
            max-width: 250px;
            align-self: flex-end;
            box-shadow: rgba(3, 8, 20, 0.291) 0px 0.15rem 0.5rem, rgba(3, 9, 21, 0.294) 0px 0.0175rem 0.175rem;
            border: none;
          }


        }

        .chat-box{
          justify-content: space-between;
          flex-direction: row;
          gap: 10px;
          max-width: 677px;
          margin: 0 auto;

          .chat-message-Input{
            width: 80%;
            height: 90%;
            margin-bottom: 0px;
          }

          .chat-message-button{
            width: 120px;
          }


        }
      }
  }

}


@media screen and ( min-width: 25em) {

  .chatroom-msg-backBtn{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 0px;
    border: 2px solid rgb(228, 228, 228);
    box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.0175rem 0.175rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 40%;
    transition: all .2s ease-in-out;;

    &:hover {
      box-shadow: rgba(3,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.08) 0px 0.0175rem 0.5rem;
      transform: translateY(-3px) scale(1.05);
      cursor: pointer;
    }
  }
}


@media screen and ( min-width: 30em) {

  .chatroom-msg-backBtn{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 0px;
    border: 2px solid rgb(228, 228, 228);
    box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.0175rem 0.175rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 35%;
    max-width: 200px;
    transition: all .2s ease-in-out;;

    &:hover {
      box-shadow: rgba(3,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.08) 0px 0.0175rem 0.5rem;
      transform: translateY(-3px) scale(1.05);
      cursor: pointer;
    }
  }




  .chatroom-container{
    min-height: 600px;


    .msg-container{
        height: 75vh;

        .chat-msg-wrapper{

          .chat-context-messages{
            max-width: 677px; // changed these
            margin: 0 auto; // changed these
            padding: 13px 45px;


          }
        }

      }

    }







}
