.chatroom-container{
  // border: 2px solid red;
  position: relative;
  width: 95vw;
  height: calc(100vh - 70px);
  max-width: 1500px;
  min-height: 600px;
  margin: 0 auto;


  .chatroom-msg-backBtn{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 0px;
    border: 2px solid rgb(228, 228, 228);
    box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.0175rem 0.175rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 45%;
    transition: all .2s ease-in-out;;

    &:hover {
      box-shadow: rgba(3,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.08) 0px 0.0175rem 0.5rem;
      transform: translateY(-3px) scale(1.05);
      cursor: pointer;
    }
  }

  .msg-container{
      // border: 2px solid rgb(0, 0, 255);
      width: 100%;
      height: 75vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-between;
      margin-top: 10px;

      .chat-msg-wrapper{
        width: 100%;
        height: 100%;

        .chat-context-messages{
          border: 2px solid #f21c18;
          padding: 13px 16px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: flex-start;
          overflow-y: scroll;


          .each-msg-text{
            background-color: #e7e7e7;
            color: #000000;
            max-width: 250px;
            border-radius: 20px;
            padding: 13px;
            align-items: flex-start;
            box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.0175rem 0.175rem;
            border: none;
          }
        }

        .chat-context-messages .you{
          padding: 13px 14px;
          background-color: #1877f2;
          color: #ffffff;
          max-width: 250px;
          align-self: flex-end;
          box-shadow: rgba(3, 8, 20, 0.291) 0px 0.15rem 0.5rem, rgba(3, 9, 21, 0.294) 0px 0.0175rem 0.175rem;
          border: none;
        }

        .chat-context-messages{
          width: 100%;
          height: 78%;

        }

      }

      .chat-box{
        border: 2px solid #18f240;
        width: 100%;
        height: 20%;
        margin-top: 10px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .chat-message-Input{
          width: 80%;
          height: 90%;
        }

        .chat-message-button{
          width: 70px;
          height: 40px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          background-color: teal;
          color: #ffffff;

        }

        form {
          width: 100%;
          height: 10%;

          button{
            font-size: 12px;
          }
        }
      }
    }




}
