button, .button {
    flex: 1;
    min-width: 200px;
    font-family: "Nunito Bold", serif;
    font-size: 20px;
    color: #282c34;
    display:inline-block;
    padding: 10px;
    border-radius: 0.4rem;
    border:0.1em solid #282c34;
    margin:0 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: transparent;
    text-align:center;
    transition: all 0.5s;
}
button:hover, .button:hover {
    color: white;
    background-color: #282c34;
    text-decoration: none;
}

button:focus, .button:focus {
    outline: none;
}

button.active {
    color: white;
    background-color: #3b3f48;
}

@media screen and (max-width: 640px) {
    button, .button {
        width: 100%;
    }
}

