.button {
  padding: 6px 8px;
  border: 2px solid rgb(222, 0, 111);
  border-radius: 5px;
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 22px;
  min-width: 100px;
  background-color: transparent;
  color: hsl(330, 100%, 44%);
  margin-left: 10px;
  cursor: pointer
  ;

  &:hover {
    background-color: hsla(330, 100%, 44%, 0.152);
  }
}
