{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans 'Change password' %}{% endblock %}
{% block content %}
<br><br>
<div class="row justify-content-center" style="margin-left:0px;margin-right:0px">
	<div class='col-6'>
		<div class="alert alert-info">
            <strong>Info!</strong> <br>
			    <h4>{% trans 'Password change request' %}</h4>
			    {% blocktrans %}
				We've emailed you the instructions to change your password, as long as an account exists with the address you specified.
				You should receive this message quickly.
				If you do not receive a message, check that you have entered the address you registered with and check your spam folder.
				{% endblocktrans %}
        </div>
	</div>
</div>
{% endblock %}
