{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans 'Change password' %}{% endblock %}
{% block content %}
<br><br>
<div class="row justify-content-center">
	<div class='col-6'>
			
				{% if validlink %}
					<form method="post" class="form-signin">
						{% csrf_token %}
						{{ form|crispy }}
						<button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Save' %}</button>
					</form> 
				{% else %}
					<div class="alert alert-warning">
                    	<strong>Warning!</strong> 
						<h4>{% trans 'Change password' %}</h4>
						{% trans 'Invalid token' %}.<br>
						<a href="{% url 'password_reset' %}">
                    </div>
				{% endif %}
			
	</div>
</div>
{% endblock %}