{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Modifier votre mot de passe{% endblock %}
{% block content %}
<br><br><br><br><br>
<div class="row justify-content-center" style="margin-left:0px;margin-right:0px">
	<div class='col-6'>
		<div class='card'>
			<div class='card-body'>
				<h2>{% trans 'Password change request' %}</h2>
				<form method="post" class="form-signin">
					{% csrf_token %}
					{{ form|crispy }}
					<button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Confirm' %}</button>
				</form>
		</div>
	</div>
</div>
{% endblock %}
