 <table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Prefered Drink</th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderlist">
            <td>{{order['order_id']}}</td>
            <td>{{order['order_datecreated']}}</td>  
            <td *ngIf="!selectMode"><button type="button" class="btn btn-danger">Delete</button></td>
            <td *ngIf="selectMode"><button type="button" class="btn btn-success">Select</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
        </tr>
    </tfoot>
</table>